/* styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #656565;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #292929;
}

html {
    scrollbar-width: none;
}

.script-input:empty:not(:focus)::before {
    content: attr(data-placeholder);
    opacity: 0.7;
}

.modal {
    width: clamp(50%, 700px, 90%);
    /* height: min(90%, 700px, 70%); */
    height: min(90%);
}

.new-projectModal {
    width: clamp(50%, 700px, 90%);
    /* height: min(90%, 700px, 70%); */
    height: min(30%);
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.circle_blue {
    background: radial-gradient(50% 50% at 50% 50%, rgba(101, 31, 255, .34) 0, hsla(0, 0%, 100%, 0) 100%);
    border-radius: 100% 100% 100% 88% / 19% 100% 32% 100%;
}
.circle_red {
    background: radial-gradient(50% 50% at 50% 50%,rgba(255,61,0,.22) 0,hsla(0,0%,100%,0) 100%);
    border-radius: 100% 100% 0% 88% / 0% 100% 93% 100%;
}
.circle_yellow {
    background: radial-gradient(50% 50% at 50% 50%,rgba(255,213,79,.1) 0,hsla(0,0%,100%,0) 100%);
    border-radius: 58% 34% 71% 27% / 34% 28% 63% 47%;
}